{% extends 'base_hostel.html' %}

{% block title %}Register student{% endblock title %}

{%block body%}
<html>
<head> 
<style>
h2{
 font-family: Sans-serif; 
 font-size: 24px;     
 font-style: normal; 
 font-weight: bold; 
 color: Red;
 text-align: center; 
 text-decoration: underline
}
table{
 font-family: verdana; 
 color:rgb(18, 17, 17); 
 font-size: 16px; 
 font-style: normal;
 font-weight: bold;
}
table.inner{
 border: 10px
}
input[type=text], input[type=email], input[type=number]{
 width: 50%;
 padding: 6px 12px;
 margin: 5px 0;
 box-sizing: border-box;
}
input[type=submit], input[type=reset]{
 width: 15%;
 padding: 8px 12px;
 margin: 5px 0;
 box-sizing: border-box;
}
body{
    background-image: url('static/8.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
</style>
</head>
<body style="background-color: rgb(193, 189, 213);">
    <form method="post" action="/register_student" class="needs-validation" onsubmit="return validateForm">
        {% comment %} {% if error == "True" %}
        <div class="alert alert-danger" role="alert">
            Room {{r_no}} is Full
        </div>
        {% endif %} {% endcomment %}
        {% csrf_token %}
        <h1>Student Registration Form </h1>
            <table align="right" cellpadding = "10">
            {% comment %} Registration ID {% endcomment %}
            <tr>
            <td>Registration ID</td>
            <td>
            <input type="data" name="reg_id" value="{{reg_no}}" readonly/>
            </td>
            </tr>
            {% comment %} First Name {% endcomment %}
            <tr>
            <td>First Name</td>
            <td><input type="text" name="FirstName" maxlength="50" placeholder="ex: Ghanendra" />
            (Max 50 Characters Allowed)
            </td>
            </tr>
            {% comment %} Middle Name {% endcomment %}
            <tr>
                <td>Middle Name</td>
                <td><input type="text" name="MiddleName" maxlength="50" placeholder="Middle Name"/>
                (Max 50 Characters Allowed)
                </td>
            </tr>
            {% comment %} Last Name {% endcomment %}
            <tr>
            <td>Last Name</td>
            <td><input type="text" name="LastName" maxlength="50" placeholder="ex: Yadav"/>
            (Max 50 Characters Allowed)
            </td>
            </tr>
            {% comment %} Email ID {% endcomment %}
            <tr>
            <td>Email ID</td>
            <td><input type="email" name="EmailID" maxlength="100" placeholder="ex: yghanendra@gmail.com"/></td>
            </tr>
            {% comment %} Mobile Number {% endcomment %}
            <tr>
            <td>Mobile Number</td>
            <td>
            <input type="number" name="MobileNumber" maxlength="10" placeholder="ex: 7842xxxxxx" min="1000000000" max="9999999999"/>
            (10 Digits Allowed)
            </td>
            </tr>
            {% comment %} Father's Occupation {% endcomment %}
            <tr>
            <td>Father's Occupation</td>
            <td><input type="text" name="father_occupation" maxlength="50" placeholder="ex: professor,engineer,doctor,etc."/>
            (Max 50 Characters Allowed)
            </td>
            </tr>
            {% comment %} local guardian's Name {% endcomment %}
            <tr>
            <td>local guardian's Name</td>
            <td><input type="text" name="local_guardian" maxlength="50" placeholder="ex: Yashwant Yadav"/>
            (Max 50 Characters Allowed)
            </td>
            </tr>
            {% comment %} local guardian's address {% endcomment %}
            <tr>
            <td>local guardian's address</td>
            <td><input type="text" name="local_guardian_addr" maxlength="50" placeholder="ex: Kothrud, Pune-411038"/>
            (Max 50 Characters Allowed)
            </td>
            </tr>
            {% comment %} Name of the Institute {% endcomment %}
            <tr>
            <td>Name of the Institute</td>
            <td><input type="text" name="Institute_name" maxlength="50" placeholder="ex: fergusson college,SP college, Modern,etc."/>
            (Max 50 Characters Allowed)
            </td>
            </tr>
            {% comment %} Gender {% endcomment %}
            <tr>
            <td>Gender</td>
            <td>
            <input type="radio" name="Gender" value="M" />
            Male
            <input type="radio" name="Gender" value="F" />
            Female
            </td>
            </tr>
            {% comment %} Date Of Birth {% endcomment %}
            <tr>
            <td>Date of Birth(DOB)</td>
            <td>
                <input type="date" name="birthdate"/>
            </td>
            </tr>
            {% comment %} Address {% endcomment %}
            <tr>
            <td>Permanent Address<br /><br /><br /></td>
            <td><textarea name="Address" rows="10" cols="50"></textarea></td>
            </tr>
            {% comment %} City {% endcomment %}
            <tr>
            <td>City</td>
            <td><input type="text" name="City" maxlength="50" placeholder="ex: Mumbai"/>
            (Max 50 Characters Allowed)
            </td>
            </tr>
            {% comment %} Pin Code {% endcomment %}
            <tr>
            <td>Pin Code</td>
            <td><input type="Number" name="PinCode" maxlength="6" placeholder="ex: 560068" min="100000" max="999999"/>
            (Max 6 Numbers Allowed)
            </td>
            </tr>
            {% comment %} State {% endcomment %}
            <tr>
            <td>State</td>
            <td><input type="text" name="State" maxlength="50" placeholder="ex: Maharashtra"/>
            (Max 50 Characters Allowed)
            </td>
            </tr>
            {% comment %} Qualification {% endcomment %}
            <tr>
            <td>Highest-Qualification <br /><br /><br /></td>
            <td>
            <br/>
            <input type="radio" name="Qualification" value="High School" />
            High School(10th)<br>
            <input type="radio" name="Qualification" value="Higher School" />
            Higher School(12th)<br/>
            <input type="radio" name="Qualification" value="Graduation" />
            Graduation(Bachelors)<br/>
            <input type="radio" name="Qualification" value="Post Graduation" />
            Post Graduation(Masters)<br/>
            <input type="radio" name="Qualification" value="Phd">
            Phd
            </td>
            </tr>
            {% comment %} Courses {% endcomment %}
            <tr>
            <td>Courses<br />Applied For</td>
            <td>
            <input type="radio" name="Course" value="B.Sc">
            B.Sc(Bachelor of Science)<br>
            <input type="radio" name="Course" value="M.Sc">
            M.Sc(Master of Science)<br>
            <!-- <input type="text" name="Course" placeholder="ex: Set/Net/JRF/Olympaid"/>
            Competitive exams : <br> -->
            </td>
            </tr>
            {% comment %} Purpose of Stay {% endcomment %}
            <tr>
                <td>Purpose of Stay</td>
                <td><input type="text" name="Purpose" maxlength="50" placeholder="ex: Academics"/>
                (Max 50 Characters Allowed)
                </td>
            </tr>
            {% comment %} Academic year of Stay {% endcomment %}
            <tr>
                <td>Academic Year : </td>
                <td>
                    <input type="number" name="arrival_year" min="1800" max="2200" maxlength="6" size="6"/>
                                    -
                    <input type="number" name="leaving_year" min="1800" max="2200" maxlength="6" size="6"/>
                </td>
            </tr>
            {% comment %} Room Number {% endcomment %}
            <tr>
            <td>Room Number</td>
            <td>
            <input type="text" name="room_no" placeholder="Room Number"/>
            </td>
            </tr>
            {% comment %} Recommendation {% endcomment %}
            <tr>
            <td>Recommendation from</td>
            <td><input type="text" name="Recommendation" maxlength="50" placeholder="ex: Teacher name"/>
            (Max 50 Characters Allowed)
            </td>
            </tr>
            {% comment %} Submit and Reset {% endcomment %}
            <tr>
            <td colspan="2" align="center">
            <!-- <input type="submit" value="Submit"> -->
            <div id="Submit-btn">
                <input type="submit" class="btn btn-primary" id="submitAlertBtn" ></button>
                <input type="reset" class="btn btn-primary" id="resetBtn" ></button>
            </div>

            </td>
            </tr>
        </table>
      </form>
    
</body>
</html> 
<!-- ------------------Alert----------------------------------------------------> 
<script>
    const alertPlaceholder = document.getElementById('Submit-btn')
    const appendAlert = (message, type) => {
  const wrapper = document.createElement('div')
  wrapper.innerHTML = [
    `<div class="alert alert-success alert-dismissible" role="alert">`,
    `   <div>You Have SUCCESSFULLY Submitted !</div>`,
    '   <input type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">',
    '</div>'
  ].join('')

  alertPlaceholder.append(wrapper)
}

const alertTrigger = document.getElementById('submitAlertBtn')

if (alertTrigger==validateForm) {
  alertTrigger.addEventListener('click', () => {
    appendAlert('You Have SUCCESSFULLY Submitted !')
  })


}
else{
    alertTrigger.addEventListener('click', () => {
    appendAlert('Something Error')})
}


function validateForm()
{
    var Email = document.getElementById("Email-ID").value;
    if(Email.isvalid)
    {
        return true;
    }
    else 
        return false;


}
</script>

{% endblock body %}